<script language=Javascript>
    function doSubmit() {
      //disabled ปุ่ม Send เมื่อกดส่ง
      document.form1.send.disabled="disabled";
      document.form1.txt.disabled="disabled";
    }
    </script>
    
    <form action=# name=form1 method=get>
    <input type=text size=47 name=txt>
    <input type=button name=send value=ส่ง onclick="doSubmit();">
    </form>